/* line 1, ../sass/carousel.sass */
.slideshow-container {
  overflow: hidden;
}

/* line 4, ../sass/carousel.sass */
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  margin: 5px 15px;
  list-style: none;
}

/* line 14, ../sass/carousel.sass */
.active, .dot:hover {
  background-color: #fe434c;
}

/* line 17, ../sass/carousel.sass */
.fades {
  -webkit-animation-name: fades;
  -webkit-animation-duration: 1.5s;
  animation-name: fades;
  animation-duration: 1.5s;
}

@-webkit-keyframes fades {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fades {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
