@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

/* line 10, ../sass/ripple-out.sass */
.hvr-ripple-out {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}

/* line 16, ../sass/ripple-out.sass */
.hvr-ripple-out:before {
    content: "";
    position: absolute;
    border: #ff343d solid 1.5px;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

/* line 28, ../sass/ripple-out.sass */
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation: hvr-ripple-out 0.8s infinite;
}
